<!DOCTYPE html>
@* Admin-only layout *@
@{
    Layout = "_Layout";  /* reuse top navbar from your main layout */
}
<div class="container">
    <div class="row">
        <aside class="col-12 col-md-3 mb-3">
            <div class="list-group position-sticky" style="top: 1rem;">
                <a class="list-group-item list-group-item-action" asp-controller="Admin" asp-action="Index">Dashboard</a>
                <a class="list-group-item list-group-item-action" asp-controller="Admin" asp-action="Users">Users</a>
                <a class="list-group-item list-group-item-action" asp-controller="Admin" asp-action="Transactions">Transactions</a>
                <a class="list-group-item list-group-item-action" asp-controller="Admin" asp-action="Profile">My Profile</a>
            </div>
        </aside>
        <main class="col-12 col-md-9">
            @RenderBody()
        </main>
    </div>
</div>
